@import url('https://font.googleapis.com/css?family=Poppins: 380, 400, 500,600,700,800,900&display=swap');
* 
{
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Saira Semi Condensed", sans-serif;
    font-weight: 400;
    scroll-behavior:smooth;
}
body {
    min-height: 100vh;
    
    background: #dcd5ce;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;

}
/* header .logo -> é onde fica o nome do grupo */
header .logo {
    color: red;
    font-weight: 900;
    font-family: "Saira Semi Condensed", sans-serif;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    
}


header ul {
    display: flex;
    justify-content: center;
    align-items: center;

}

header ul li {
    list-style: none;
    margin-left: 20px;

}

header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: red;
    border-radius: 20px ;
}
header ul li a:hover, 
header ul li a.active {
    background:red;
    color:#dcd8ce;
}
section {
    position:relative;
    width: 100%;
    height:100vh;
    padding: 100px;
    
}
section img {
    position:absolute;
    top:0;
    left:0;
    width:76%;
    height: 100%;
    object-fit: contain;
}
#btn {
    text-decoration: none;
    display:inline-block;
    padding: 8px 30px;
    border-radius: 40px;
    background: red;
    color:antiquewhite;
    font-size: 1.5em;
    z-index:9;
    font-weight: 700;
    transform: translateY(100px);
    margin-left:70%;
    

}
.sec {
    position: relative;
    padding: 100px; 
}
.sec h2 {
    font-size: 3.5em;
    margin-bottom: 20px;
    color:black;
    font-family: 'Poiret One', cursive;
}
.sec p {
    font-size: 1em;
    color: #484d50;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: 'Saira Semi Condensed',sans-serif;
    font-weight: 200;
}
.linkedin {
    position: relative;
    padding: 100px;
}
.linkedin h3 {
    font-size: 3.5em;
    margin-bottom: 20px;
    color:blue;
}
.linkedin a {
    font-size:2em;
    color: royalblue;
    text-decoration: none;
   

}
.linkedin a:hover {
    color:#939;
    
}
